// variables.scss

$primary: #FF6F40;
$primary-dark: #DA5125;
$secondary: #4099FF;
$sharp-black: #0A0A0A;
$light-black:#222222;
$white: #FFFFFF;
$black: #000000;

$dark-gray: #0a0a0a24;
$light-gray: #F1F5FB;

$border_color: #D9D9D9;
$border-checkout: #DEDEDE;

// Transition
$transition-base: 0.3s;

// typography
$font-primary: 'Inter',
sans-serif;
$font-secondary: 'Raleway',
sans-serif !important;

$font-sizes: (xxl: (default: 82px, md: 64px, sm: 36px, xs: 32px),
    xl: (default: 64px, md: 48px, sm: 36px, xs: 32px),
    lg: (default: 48px, md: 40px, sm: 32px, xs: 28px),
    xlmd: (default: 42px, md: 32px, sm: 28px, xs: 24px),
    lmd: (default: 38px, md: 30px, sm: 26px, xs: 22px),
    slmd: (default: 34px, md: 30px, sm: 26px, xs: 22px),
    md: (default: 32px, md: 28px, sm: 24px, xs: 18px),
    sm: (default: 24px, md: 20px, sm: 18px, xs: 18px),
    ssm: (default: 22px, md: 20px, sm: 18px, xs: 16px),
    xs: (default: 20px, md: 18px, sm: 16px, xs: 16px),
    xxs: (default: 16px, md: 14px, sm: 14px, xs: 14px),
    xxsm: (default: 15px, md: 14px, sm: 14px, xs: 14px),
    xxxs: (default: 14px, md: 14px, sm: 14px, xs: 12px),
    body:(default: 18px, md: 16px, sm: 14px, xs: 14px));

// Font Weights
$font-bold: 700;
$font-semi_bold: 500;
$font-regular: 400;

// Responsive Variables
$xsmallR: 0px;
$smallR: 575px;
$mediumR: 767px;
$largeR: 991px;
$xlargeR: 1279px;
$xxlargeR: 1399px;
$hdr: 1920px;


// Glass effects
$gray-text: rgba(255, 255, 255, 0.5);
$border-gradient-start: rgba(255, 255, 255, 0.4);
$border-gradient-end: rgba(255, 255, 255, 0);
$glass-bg-start: rgba(255, 255, 255, 0);
$glass-bg-end: rgba(255, 255, 255, 0.1);
$glow-blue-1: #267bdd;
$glow-blue-2: #61aaff;

$gray-light: #EDF2F5;