//    Responsive Settings Starts 


// xtra Small screen resolution up to 575px
@mixin xs {
    @media screen and (max-width: $smallR) {
        @content;
    }
}

// small screen resolution up to 767px
@mixin sm {
    @media screen and (min-width: 576px ) and (max-width: $mediumR) {
        @content;
    }
}

// medium screen resolution up to 991px
@mixin md {
    @media screen and (min-width: 768px ) and (max-width: $largeR) {
        @content;
    }
}

// Large screen resolution up to 1199px
@mixin lg {
    @media screen and (min-width: 992px ) and (max-width: $xlargeR) {
        @content;
    }
}

// Xtra Large screen resolution 1200px and above
@mixin xl {
    @media screen and (min-width: $xxlargeR) {
        @content;
    }
}


// Print Media Query
@mixin print {
    @media print {
        @content;
    }
}


// Custom Media Query
@mixin custom($minSize: map-get($customSize, minSize), $maxSize: map-get($customSize, maxSize)) {
    @media screen and (min-width: $minSize) and (max-width: $maxSize) {
        @content;
    }
}


/*
 Usage
 @include custom(850px, 1190px){
    Put your CSS Here
 }
 */
 // Responsive Font Size Mixin
 @mixin font-size($size-key) {
    @if map-has-key($font-sizes, $size-key) {
        $size-map: map-get($font-sizes, $size-key);
        
        // Default size (desktop)
        font-size: map-get($size-map, default);
        
        // Medium devices (tablets, 1279px and down)
        @media (max-width: $xlargeR) {
            font-size: map-get($size-map, md);
        }
        
        // Small devices (landscape phones, 767px and down)
        @media (max-width: $mediumR) {
            font-size: map-get($size-map, sm);
        }
        
        // Extra small devices (portrait phones, 575px and down)
        @media (max-width: $smallR) {
            font-size: map-get($size-map, xs);
        }
    } @else {
        @warn "Font size key '#{$size-key}' not found in $font-sizes map.";
    }
}